[Desktop Entry]
Version = 0.0.1
Name=eegsoundplayer
Name[en_GB]=eegsoundplayer 
GenericName=eegsoundplayer
GenericName[en_GB]=eegsoundplayer
Comment=Audio player for EEG experiments
Comment[en_GB]=Audio player for EEG experiments
Terminal=false
Type=Application
Exec=/usr/bin/eegsoundplayer -f %F
Icon=/usr/share/icons/media-playback-start.svgz
Categories=Education;Science;